<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>emojiTag</key>
		<string>[龇牙笑]</string>
		<key>emojiIndex</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[顽皮]</string>
		<key>emojiIndex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[流汗]</string>
		<key>emojiIndex</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[偷笑]</string>
		<key>emojiIndex</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[拜拜]</string>
		<key>emojiIndex</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[敲头]</string>
		<key>emojiIndex</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[擦汗]</string>
		<key>emojiIndex</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[我晕]</string>
		<key>emojiIndex</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[鄙视]</string>
		<key>emojiIndex</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[大哭]</string>
		<key>emojiIndex</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[笑哭]</string>
		<key>emojiIndex</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[嘘嘘]</string>
		<key>emojiIndex</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[酷]</string>
		<key>emojiIndex</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[狂笑]</string>
		<key>emojiIndex</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[委屈]</string>
		<key>emojiIndex</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[便便]</string>
		<key>emojiIndex</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[可怜]</string>
		<key>emojiIndex</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[砍人]</string>
		<key>emojiIndex</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[可爱]</string>
		<key>emojiIndex</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[色]</string>
		<key>emojiIndex</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[害羞]</string>
		<key>emojiIndex</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[得意]</string>
		<key>emojiIndex</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[呕吐]</string>
		<key>emojiIndex</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[微笑]</string>
		<key>emojiIndex</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[抱抱]</string>
		<key>emojiIndex</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[尴尬]</string>
		<key>emojiIndex</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[惊恐]</string>
		<key>emojiIndex</key>
		<integer>26</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[抽烟]</string>
		<key>emojiIndex</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[坏笑]</string>
		<key>emojiIndex</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[嘴唇]</string>
		<key>emojiIndex</key>
		<integer>29</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[白眼]</string>
		<key>emojiIndex</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[傲慢]</string>
		<key>emojiIndex</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[奋斗]</string>
		<key>emojiIndex</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[吃惊]</string>
		<key>emojiIndex</key>
		<integer>33</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[疑问]</string>
		<key>emojiIndex</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[睡觉]</string>
		<key>emojiIndex</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[邪恶]</string>
		<key>emojiIndex</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[哈哈]</string>
		<key>emojiIndex</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>emojiTag</key>
		<string>[亲亲]</string>
		<key>emojiIndex</key>
		<integer>38</integer>
	</dict>
</array>
</plist>
